# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Environment files
.env

# Alembic cache or logs (optional)
alembic/versions/

# Docker
*.pid
*.log

# Uploaded files
uploads/

# OS generated
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Python egg files
*.egg-info/
dist/
build/
